import React from 'react';
import {render} from 'react-dom';

class {{component_name}}Component extends React.Component {
  constructor(props){
    super(props);
    this.state={

    }
  }

  render() {
    return(
        <div className="container">
            <h1 className="page-title">{{name_of_component}}</h1>

        </div>
    );
  }
}

const {{component_name}}Export = () => {
  if (document.getElementById('{{component_name}}Component') != null) {
    const element = document.getElementById('props');
    const props = JSON.parse(element.getAttribute('data-props'));
    
    render(
      <{{component_name}}Component
      user={props.user}
      validation={props.validation}
      />, 
      document.getElementById('{{component_name}}Component'),
    );
  } 
};

module.exports= {{component_name}}Export();
